/* https://codepen.io/shammadahmed/pen/JOWEGW */

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*################# score board #################*/

.score-board {
    display: inline-block;
    margin: 10px auto;
    width: auto;
    border: solid 1px #175727;
    padding: 15px;
    text-align: center;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
}

.score-container {
    display: flex;
    flex-direction: row;
}

.result {
    font-size: 20px;
    font-weight: bold;
    margin: 23px;
}

.score-number {
    font-size: 2em;
}


/* ############### Game board ################## */

.game-board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formPlayers {
    padding-top: 24px;
    padding-bottom: 18px;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}